body {
    font-family: "Roboto", serif;

    margin: 0;
    padding: 0;

    height: 180vh;
    background-color: #b8e3e9;

    color: #c71585;

}

.container {
    display: flex;
    flex-flow: column;
}


/*primeira caixa*/

.links {
    flex: auto;
    background-color: #c71585;

    height: 100px;

    margin: 0;

    border-bottom: 1px solid #b8e3e9;
}

ul {
    display: flex;

    list-style: none;
    color: #b8e3e9;
    font-size: 18px;

    gap: 16px;

    /*padding-right: 25px; !*DEPOIS SUBSTITUIR POR UM SPACE-AROUND/BETWEEN*!*/

    justify-content: flex-end;

    height: 95px;
    margin: 0;
    /*border: 5px solid red;*/
    align-items: center;

}

li {
    /*border: 2px solid red;*/

    margin-right: 25px;
}

a {
    color: #b8e3e9;
    text-decoration: none;
}

 /*segunda caixa*/

.yordles {
    display: flex;
    flex: auto;
    height: 600px;
    background-color: #c71585;

    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;
}

.imgs {
    display: flex;
    height: 350px; /* aumentar depois */
    /*border: 5px solid green;*/

    flex-flow: row wrap;

    max-width: 779px;

    gap: 300px;

}

.imgs img {
    height: 30vh;
    flex: 0 0 auto;

    border: 2px solid #b8e3e9;
}

/*terceira caixa*/

.texto {

    display: flex;
    text-align: center;
    font-size: 48px;
    flex-wrap: wrap;

    flex: auto;

    background-color: #b8e3e9;
}

/*quarta caixa*/

.pergunta {
    display: flex;
    flex-flow: column;

    height: 400px;

    background-color: #c71585;

    justify-content: center;
}

.elementos {

    height: 200px;
    background-color: #b8e3e9;

    width: 1000px;

    margin: auto;
}

.baixo-botao {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    height: 50px;
    /*border: 5px solid red*/
    margin-top: 25px;
    margin-left: 22px;

}

.baixo-botao button {
    display: flex;
    align-items: center;

    margin-left: 25px;

    height: 50px;

    background-color: #c71585;
    border-color: #c71585;
    color: #b8e3e9;
}

/*quinta caixa*/

.rodape {
    text-align: center;
}