body {
    font-family: "Roboto", serif;

    margin: 0;
    padding: 0;

    height: 300vh;
    background-color: chocolate;

}

.container {
    display: flex;
    flex-flow: column;
}


/*primeira caixa*/

.links {
    flex: auto;
    background-color: saddlebrown;

    height: 100px;

    margin: 0;

    border-bottom: 1px solid chocolate;
}

ul {
    display: flex;

    list-style: none;
    color: white;
    font-size: 18px;

    gap: 16px;

    /*padding-right: 25px; !*DEPOIS SUBSTITUIR POR UM SPACE-AROUND/BETWEEN*!*/

    justify-content: flex-end;

    height: 95px;
    margin: 0;
    /*border: 5px solid red;*/
    align-items: center;

}

li {
    /*border: 2px solid red;*/

    /*margin-bottom: 25px;*/
}

 /*segunda caixa*/

.yordles {
    display: flex;
    flex: auto;
    height: 600px;
    background-color: saddlebrown;

    margin: 0;
    padding: 0;

    /*border: 5px solid green;*/


    justify-content: center;
    align-items: center;
}

.imgs {
    display: flex;
    height: 250px; /* aumentar depois */
    /*border: 5px solid green;*/

    flex-flow: row wrap;

    max-width: 375px;
}

.imgs img {
    height: 10vh;
    margin: 25px;
    flex: 0 0 auto;

    /*border: 5px solid red;*/
}

/*terceira caixa*/